@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
body {
  background: #0f0f10;
  color: #fff;
}

input,
textarea {
  color: #000;
}

.slick-list {
  margin: 0 -5px;
}
.slick-slide > div {
  padding: 0 10px;
}
